<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>30dfbad9a125327399061356af3e8e70</string>
	<key>privateKey</key>
	<string>da550749d1b076b042d49b372f05c2bf8b09d0e0</string>
</dict>
</plist>
